<div class="card">
  <img class="card-img-top" 
        [src]="product.imageUrl" 
        *ngIf="product.imageUrl" 
        [alt]="" 
        [title]="" >
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency:'USD':true}}</p>
    
  </div>
  <div class="card-footer" *ngIf="showActions && shoppingCart">
      <button (click)="addToCart()" *ngIf="shoppingCart.getQuantity(product) === 0; else updateQunatity" class="btn btn-primary btn-block">Add to Cart</button>
      
      
    <ng-template #updateQunatity>
      <product-qunatity [product]="product" [shopping-cart]="shoppingCart">

      </product-qunatity>
    </ng-template>
      
  </div>
</div>