<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/']">O-RAM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['shopping-cart']">
          Shopping Cart
          <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
            {{cart.totalItemCount }}
          </span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']">Login</a>
          </li>
        </ng-template>
        
        <li class="nav-item dropdown" ngbDropdown *ngIf="appUser; else anonymousUser">
          <a class="nav-link dropdown-toggle noneLink" ngbDropdownToggle  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{appUser.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu >
            <a class="dropdown-item" [routerLink]="['my/orders']">My Orders</a>
  
            <a *ngIf="appUser.isAdmin" class="dropdown-item" [routerLink]="['admin/orders']">Manage Orders</a>
            <a *ngIf="appUser.isAdmin" class="dropdown-item" [routerLink]="['admin/products']">Manage Products</a>
  
            <a class="dropdown-item log-out" (click)="logOut()">Log Out</a>
          </div>
        </li>
       
      </ul>
  </div>
</div>
</nav>