<p><a [routerLink]="['/admin/products/new']" class="btn btn-primary">New Product</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products$ | async">
            <td>{{item.title}}</td>
            <td>{{item.number}}</td>
            <td>
                <a [routerLink]="['/admin/products', item.$key]" class="btn btn-primary">
                    Edit
                </a>
            </td>
        </tr>
    </tbody>
</table>
